@page
@model HessTrucks.Web.Pages.Toys.IndexModel
@{
}

<h1>List of trucks</h1>
<table class="table">
    @{ 
        foreach(var truck in Model.Trucks)
        {
        <tr>
            <td><a href="">@truck.Name</a></td>
            <td>@truck.Year</td>
            <td>@truck.Price</td>
            <td>@truck.DefaultPhotoPath</td>
        </tr>
        }
    }
</table>